body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}
.button {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display : inline-block;
    margin:  10px;
    cursor: pointer;
    line-height: 100px;
    font-weight: bold;
    text-transform: capitalize;

}